# Lab 06: Aggregate Analysis - Video Game Stats - Jay Adams

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/vgsales.csv')

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# Which company is the most common video game publisher?

In [4]:
common = pd.DataFrame(df['Publisher'].groupby(df.Publisher).count())
common.sort_values('Publisher', ascending=False).head()

                              Publisher
Publisher
Electronic Arts                    1351
Activision                          975
Namco Bandai Games                  932
Ubisoft                             921
Konami Digital Entertainment        832

# What’s the most common platform?

In [5]:
common = pd.DataFrame(df['Platform'].groupby(df.Platform).count())
common.sort_values('Platform', ascending=False).head()

          Platform
Platform
DS            2163
PS2           2161
PS3           1329
Wii           1325
X360          1265

# What about the most common genre?

In [7]:
common = pd.DataFrame(df['Genre'].groupby(df.Genre).count())
common.sort_values('Genre', ascending=False).head()

              Genre
Genre
Action         3316
Sports         2346
Misc           1739
Role-Playing   1488
Shooter        1310

# What are the top 20 highest grossing games?

In [13]:
best_sales = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)

In [14]:
best_sales

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, what’s the median?
### Provide a secondary output showing 'about' ten games surrounding the median sales output

In [15]:
na_med_sales = df['NA_Sales'].median()

In [17]:
df[df['NA_Sales']==0.08][-11:-1]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
11362,11364,Deadliest Catch: Sea of Chaos,PS3,2010.0,Sports,Crave Entertainment,0.08,0.0,0.0,0.01,0.08
11371,11373,Death Jr. and the Science Fair of Doom,DS,2007.0,Platform,Konami Digital Entertainment,0.08,0.0,0.0,0.01,0.08
11375,11377,Dream Day: Wedding Destinations,DS,2009.0,Simulation,THQ,0.08,0.0,0.0,0.01,0.08
11376,11378,Face Racers: Photo Finish,3DS,NaN,Racing,Majesco Entertainment,0.08,0.0,0.0,0.00,0.08
11386,11388,Sushi Academy,DS,2009.0,Action,DTP Entertainment,0.08,0.0,0.0,0.01,0.08
11390,11392,Super Robot Taisen OG Saga: Endless Frontier,DS,2008.0,Role-Playing,Namco Bandai Games,0.08,0.0,0.0,0.01,0.08
11403,11405,My English Coach: Para Hispanoparlantes,DS,2009.0,Misc,Ubisoft,0.08,0.0,0.0,0.01,0.08
11431,11433,Little League World Series Baseball: Double Play,DS,2010.0,Sports,Activision,0.08,0.0,0.0,0.01,0.08
11432,11434,DanceDanceRevolution,X360,2011.0,Simulation,Konami Digital Entertainment,0.08,0.0,0.0,0.01,0.08
11455,11457,The Hidden,3DS,NaN,Adventure,Unknown,0.08,0.0,0.0,0.00,0.08

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [24]:
df_mean = np.mean(df['NA_Sales'])
df_std = pd.DataFrame(df[df.NA_Sales.values >= df_mean])
df_std.NA_Sales.std()

1.5190362471782832

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [27]:
df_wii = df[['Platform', 'Global_Sales']].groupby('Platform')
df_wii = pd.DataFrame(df_wii['Global_Sales'].mean()).sort_values('Global_Sales', ascending=False)
df_wii

          Global_Sales
Platform
GB            2.606633
NES           2.561939
GEN           1.050370
SNES          0.837029
PS4           0.827679
X360          0.774672
2600          0.729925
PS3           0.720722
Wii           0.699404
N64           0.686144
XOne          0.662254
PS            0.610920
PS2           0.581046
WiiU          0.572448
3DS           0.486169
GBA           0.387470
DS            0.380254
GC            0.358561
XB            0.313422
SCD           0.311667
DC            0.307115
PC            0.269604
PSP           0.244254
WS            0.236667
SAT           0.194162
PSV           0.149952
NG            0.120000
TG16          0.080000
GG            0.040000
3DO           0.033333
PCFX          0.030000